<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <title>Homepage</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Homepage</h1>
        <a href="/register" class="btn btn-success">Register</a>
        <a href="/login" class="btn">Login</a>
    </div>

</body>

</html>