<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <a href="/" class="btn btn-light float-right">Homepage</a>
        <h1>Login</h1>
        <% if(error) { %>
            <div class="alert alert-warning">
                <%= error %>
            </div>
            <% } %>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label><input type="password" class="form-control" id="password" name="password"></div>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                <a href="/register">Register</a>

    </div>

</body>

</html>